<div id="spree-header" style="margin-bottom: 0px; background-image: 'images/slides/ciclistas.png';">
	<header id="header" data-hook>
		<div class="container">
	  		<figure id="logo" class="col-md-2" data-hook><%= logo %></figure>
        <% if params[:controller] == "spree/products" %>
	  		  <%= render :partial => 'spree/shared/nav_bar' %>
        <% end %>
		</div>
	</header>
	<div class="container">
		<%=# render :partial => 'spree/shared/main_nav_bar' if store_menu? 
    %>
	</div>

</div>


