.btn-group
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    Recommended
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    %li
      %a{href: "#"} Action
    %li
      %a{href: "#"} Another action
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    Score
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    %li
      %a{href: "#"} Action
    %li
      %a{href: "#"} Another action
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    Price
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    %li
      %a{href: "#"} Action
    %li
      %a{href: "#"} Another action
